<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ .Title }}</title>
    <style>
        textarea {
            width: 100%;
            height: auto;
            min-height: 300px;
        }
    </style>
</head>
<body style="background-color: white">
<fieldset>
    <legend>用户列表</legend>
    <table border="1px" cellpadding="5px" style="border:1px solid black;border-collapse:collapse; text-align: center;">
        <tr>
            <th>用户名</th>
            <th>场次</th>
            <th>确认率</th>
            <th>响应率</th>
            <th>Day7</th>
            <th>Day14</th>
            <th>Day30</th>
            <th>训练费</th>
            <th>场地费</th>
            <th>球费</th>
            <th>最后响应时间</th>
            <th>最早响应时间</th>
            <th>手机号</th>
            <th>状态</th>
            <th>费用更新</th>
        </tr>
        {{ range .Users }}
        <tr>
            <td>{{ .Name }}</td>
            <td>
                {{ index (index $.Stats .UID).ValueMap "venueAmount" }}
            </td>
            <td>
                {{ index (index $.Stats .UID).ValueMap "ok" }}
                ({{ index (index $.Stats .UID).ValueMap "okPercent" }})
            </td>
            <td>
                {{ index (index $.Stats .UID).ValueMap "response" }}
                ({{ index (index $.Stats .UID).ValueMap "responsePercent" }})
            </td>
            <td>
                {{ index (index $.Stats .UID).ValueMap "day7" }}
            </td>
            <td>
                {{ index (index $.Stats .UID).ValueMap "day14" }}
            </td>
            <td>
                {{ index (index $.Stats .UID).ValueMap "day30" }}
            </td>
            <td>
                {{ printf "%.2f" .TrainingFee }}
            </td>
            <td>
                {{ printf "%.2f" .VenueFee }}
            </td>
            <td>
                {{ printf "%.2f" .BallFee }}
            </td>
            <td>
                {{ (index $.Stats .UID).LastTime }} ({{ index (index $.Stats .UID).ValueMap "lastPast" }} days Ago)
            </td>
            <td>
                {{ (index $.Stats .UID).FirstTime }} ({{ index (index $.Stats .UID).ValueMap "firstPast" }} days Ago)
            </td>
            <td>{{ .Mobile }}</td>
            <td>{{ index $.UserStateMap .State }}</td>
            <td>
                <form action="/admin/user/feeUpdate" method="post">
                    <input type="hidden" name="uid" value="{{ .UID }}">
                    <input type="hidden" name="ticket" value="{{ $.Ticket }}">
                    <input type="text" name="venueFee" placeholder="场地费" size="4">
                    <input type="text" name="ballFee" placeholder="球费" size="4">
                    <input type="text" name="trainingFee" placeholder="训练费" size="4">
                    <input type="submit" value="添加">
                </form>
            </td>
        </tr>
        {{ end }}
    </table>
</fieldset>

<fieldset>
    <legend>添加用户</legend>
    <form method="post" action="/admin/user/create">
        用户名：<input type="text" name="name" placeholder="名字">
        手机号：<input type="text" name="mobile" placeholder="手机号">
        身份：
        <select name="state">
            {{ range $key, $value := $.UserStateMap }}
            <option value="{{ $key }}">{{ $value }}</option>
            {{ end }}
        </select>
        <input type="hidden" name="ticket" value="{{ .Ticket }}">
        <input type="submit" value="添加">
    </form>
</fieldset>

<fieldset>
    <legend>配置更新</legend>
    <form method="post" action="/admin/setting/update">
        <label>
            <textarea name="setting" >{{ .Settings }}</textarea>
            <br />
        </label>
        <input type="hidden" name="ticket" value="{{ .Ticket }}">
        <input type="submit" value="更新">
    </form>
</fieldset>

</body>
</html>