<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <title>{{ .Title }} - {{ $.Me.Name }}</title>
  <link rel="stylesheet" href="/static/css/list.css">
</head>
<body style="background-color: white">

<div class="app-container">
  <div class="app-content">
    <div class="projects-section">
      <div class="projects-section-header">
        <p>场次</p>
      </div>
      {{ range .Venues }}
      <div class="project-boxes jsListView">
        <div class="project-box-wrapper">
          <div class="project-box" style="background-color: #fee4cb;">
            <div class="project-box-header">
              <span>{{ .Day }} {{ getWeekDay .Day }}</span>
              <div class="more-wrapper">
                <button class="project-btn-more">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-vertical">
                    <circle cx="12" cy="12" r="1" />
                    <circle cx="12" cy="5" r="1" />
                    <circle cx="12" cy="19" r="1" />
                  </svg>
                </button>
              </div>
            </div>
            <div class="project-box-content-header">
              <p class="box-content-header">{{ .Name }}</p>
              <p class="box-content-subheader">{{ .Desc }}</p>
            </div>
            <div class="box-progress-wrapper">
              <span class="box-content-header">限制</span>
              <span class="box-content-subheader">Min.{{ .Amount }} / Max.{{ .Limit }}</span>
            </div>
            <div class="box-progress-wrapper">
              <span class="box-content-header">详情</span>
              <span class="box-content-subheader">{{ (index $.BookingSummaries .ID).AnswerResponses }}</span>
            </div>
            <div class="project-box-footer">
              <div class="participants">
                <form method="post" action="/venue/booking" id="form1">
                    <input type="hidden" name="venueId" value="{{ .ID }}">
                    <input type="hidden" name="ticket" value="{{ $.Ticket }}">
                </form>
                <button type="submit" form="form1" value="Submit" class="btn">
                  确认
                </button>
                <button type="submit" form="form1" value="Submit" class="btn">
                  拒绝
                </button>
                <button type="submit" form="form1" value="Submit" class="btn">
                  手动替补
                </button>
              </div>
              <div class="days-left" >
                
                未选择
                
              </div>
            </div>
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</div>

</body>
</html>