<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>{{ .Title }} - {{ $.Me.Name }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        .inline, .inline * {
            display: inline;
        }

        fieldset {
            border-radius: 10px;
            margin-top: 10px;
        }

    </style>

    <script>
    window.onload = function () {
        let labels = document.querySelectorAll("fieldset div label");

        for (var i = 0; i < labels.length; i++) {
            let text = labels[i].querySelector("span").textContent

            if (text == "确认") {
                labels[i].parentNode.parentNode.style.backgroundColor = "lightGreen";
            } else {
                labels[i].parentNode.parentNode.style.backgroundColor = "orange";
            }
        }

        let drivers = {{ .Drivers  }};
        let bodyHtml = document.body.innerHTML;

        for (let i = 0, max = drivers.length; i < max ; i++) {
            let regex = new RegExp(drivers[i], 'g');
            bodyHtml = bodyHtml.replace(regex, drivers[i] + '🚘');
        }

        document.body.innerHTML = bodyHtml;
    }

    function checkVenueFee(form) {
        let venueFee = form['venueFee'].value;
        let ballFee = form['ballFee'].value;
        let trainingFee = form['trainingFee'].value;

        if (!venueFee && !ballFee && !trainingFee) {
            if (!confirm('确定要取消场地吗？')) {
                return false;
            }
        }

        return true;
    }

    </script>
</head>
<body style="background-color: white">
<div>
    <p>
        <div>
            <label>余额</label> <span>{{ printf "%.2f" $.Me.Balance }}</span>
            <label>车费余额</label> <span>{{ printf "%.2f" $.Me.FareBalance }}</span>
            <a target="_blank" href="/user/transaction?ticket={{ $.Ticket }}">交易记录</a>
        </div>

        <div>
            <label>车费</label> <span>{{ printf "%.2f" $.Me.FareFee }}</span>
            <label>场地</label> <span>{{ printf "%.2f" $.Me.VenueFee }}</span>
            <label>球费</label> <span>{{ printf "%.2f" $.Me.BallFee }}</span>
            <label>训练</label> <span>{{ printf "%.2f" $.Me.TrainingFee }}</span>
        </div>
    </p>

    <p>
        <form action="/user/transfer" method="post">
            <label>向</label>
            <label>
                <select name="targetUID">
                    {{ range .Users }}
                    {{ if ne .State $.UserStateZombie }}
                    <option value="{{ .ID }}">{{ .Name }}</option>
                    {{ end }}}
                    {{ end }}
                </select>
            </label>

            <label>转账</label>

            <label>
                <select name="transactionType">
                    <option value="{{ $.TransactionTypeFare }}">{{ index $.TransactionTypeMap $.TransactionTypeFare }}</option>
                    <option value="{{ $.TransactionTypeBalance }}">{{ index $.TransactionTypeMap $.TransactionTypeBalance }}</option>
                </select>
            </label>

            <label>
                <input name="amount" placeholder="金额" size="6" />
            </label>

            <input type="hidden" name="ticket" value="{{ $.Ticket }}" />
            <input type="submit" value="确认" />
        </form>
    </p>
</div>

{{ range .Venues }}
<fieldset>
    <legend>{{ .Name }} {{ .Day }} {{ getWeekDay .Day }} {{ .Desc }}</legend>
    <div>
        <form method="post" action="/venue/booking">
            <label>
                报名：
                <span style="color: red; font-weight: bold;">
                {{- with index (index $.BookingSummaries .ID).AnswerValues $.Me.Name -}}
                {{- index $.BookingStateMap . -}}
                {{- else -}}
                未选择
                {{- end -}}
                </span>

                <select name="state">
                    <option value="{{ $.BookingStateOK }}">{{ index $.BookingStateMap $.BookingStateOK }}</option>
                    <option value="{{ $.BookingStateNO }}">{{ index $.BookingStateMap $.BookingStateNO }}</option>
                    <option value="{{ $.BookingStateManual }}">{{ index $.BookingStateMap $.BookingStateManual }}</option>
                </select>

                <input type="hidden" name="venueId" value="{{ .ID }}">
                <input type="hidden" name="ticket" value="{{ $.Ticket }}">

                <input type="text" placeholder="外挂姓名" size="8" name="worker">
                <input type="submit" value="确认">
            </label>
        </form>
    </div>

    <p>
        <div class="inline">限制 : Min.{{ .Amount }} / Max.{{ .Limit }}</div>

        <form class="inline" method="post" action="/venue/stat">
            <input type="hidden" name="venueId" value="{{ .ID }}">
            <input type="hidden" name="ticket" value="{{ $.Ticket }}">
            <input type="submit" value="统计通知">
        </form>

        <form class="inline" method="post" action="/venue/depart">
            <input type="hidden" name="venueId" value="{{ .ID }}">
            <input type="hidden" name="ticket" value="{{ $.Ticket }}">
            <input type="submit" value="出发通知">
        </form>
    </p>

    <p>
        统计：{{ (index $.BookingSummaries .ID).AnswerCounter }}
    </p>

    <p>
        <a href="/logs/{{ sha1 (toString (toIntFromUint .ID)) }}.log?_time={{ now }}">详情</a>：{{ (index $.BookingSummaries .ID).AnswerResponses }}
    </p>

    <p>
    {{ if or (eq $.UserStateAdmin ($.Me.State)) (eq .Owner ($.Me.ID))  }}
    <form method="post" action="/venue/limit">
        <p>
            限制：
            <input type="hidden" name="venueId" value="{{ .ID }}">
            <input type="hidden" name="ticket" value="{{ $.Ticket }}">
            <input type="text" size="4" name="amount" placeholder="Min" {{ if eq .Amount 0 }}value="" {{ else }}value="{{ .Amount }}"{{end}}>
            <input type="text" size="4" name="limit" placeholder="Max" {{ if eq .Limit 0 }}value="" {{ else }}value="{{ .Limit }}"{{end}}>
            球馆：
            <input type="text" size="5" name="name" placeholder="场地名" value="{{ .Name }}">
        </p>
        <p>
            信息：
            <input type="text" name="desc" placeholder="场地信息" value="{{ .Desc }}">
        </p>
        <p>
            日期：
            <input type="text" size="10" name="day" placeholder="日期" value="{{ .Day }}">
            <input type="submit" value="设置">
        </p>
    </form>

    <form method="post" action="/venue/done1" onsubmit="return checkVenueFee(this)">
        结束：
        <input type="hidden" name="venueId" value="{{ .ID }}">
        <input type="hidden" name="ticket" value="{{ $.Ticket }}">
        <input type="text" size="6" name="venueFee" placeholder="场地费">
        <input type="text" size="6" name="ballFee" placeholder="球费">
        <input type="text" size="6" name="trainingFee" placeholder="训练费">
        <input type="submit" value="结束">
    </form>
    {{ end }}

</fieldset>
{{ end }}

<div>
    <form method="post" action="/venue/create">
        <fieldset>
            <legend> 创建场地 </legend>
            <label>
                <input type="text" placeholder="场地名称" name="name">
                <input type="text" placeholder="场地日期 {{ .NowYMD }}" name="day">
                <input type="text" placeholder="场地信息 如: 12x2(3 4)" name="desc" value="">
                <select name="notification">
                    <option value="1">允许通知</option>
                    <option value="0">忽略通知</option>
                </select>
                <input type="hidden" name="ticket" value="{{ .Ticket }}">
                <input type="submit" value="确认">
            </label>
        </fieldset>
    </form>
</div>
</body>
</html>